<nav id="bottom">
  <ul class="bottom-tabs">
    <li routerLink="./websites">
      <i class="fab fa-chrome"></i>
      &nbsp;
      <a>Websites</a>
    </li>
    <li routerLink="./search">
      <i class="fas fa-search"></i>
      &nbsp;
      <a>Search</a>
    </li>
    <li routerLink="./monitor">
      <i class="fas fa-database"></i>
      &nbsp;
      <a>Monitor</a>
    </li>
    <li routerLink="./settings">
      <i class="fas fa-cog"></i>
      &nbsp;
      <a>Settings</a>
    </li>
  </ul>
</nav>
