<div class="input-group mb-3 mx-auto pt-5">
  <input
    [ngClass]="{ icon: input_type == 'search' }"
    [(ngModel)]="input_value"
    type="text"
    class="form-control"
    placeholder="{{ label }}"
    aria-describedby="basic-addon2"
  />
  <div class="input-group-append">
    <button
      *ngIf="input_type == 'button'"
      (click)="onSubmit($event)"
      class="btn btn-outline-secondary"
      type="button"
    >
      {{ button_text }}
    </button>
    <i *ngIf="input_type == 'search'" class="fas fa-search"></i>
  </div>
</div>
